*{
	font-family: 'Roboto', sans-serif;
}

a:link, a:visited{
	text-decoration: none;
	color: White;
}

body{
	margin: 0px;
	background-color: white;
}

#header{
	height: 60px;
	width: 100%;
	position: fixed;
	background-color: #4CAF50;
	z-index: 1;
}
	#header a:link, a:visited{
		text-decoration: none;
		color: White;
	}
	#header_title{
		height: 60px;
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		position: fixed;
		margin-top: 0px;
	}
	#header_menu{
		background-color: #4CAF50;
		height: 100px;
		width: 100%;
	}
		#header_menubox{
			height: 40px;
			width: 80%;
			margin-left: 10%;
			margin-right: 10%;
			margin-top: 60px;
			color: white;
			position: absolute;

		}
			.header_menuitem{
				line-height: 40px;
				vertical-align: middle;
				float: left;
				height: 40px;
				width: 18%;
				margin-right: 2%;
				z-index: -1;
				color: #E0E0E0;
			}
				.header_menuitem a{
					-webkit-transition: color 0.5s ease-out;
  					-moz-transition: color 0.5s ease-out;
  					-o-transition: color 0.5s ease-out;
  					transition: color 0.5s ease-out;
				}
				.header_menuitem a:hover{
					cursor: pointer;
					color: #FFFFFF;
				}

#content{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 0px;
	margin-bottom: 50px;
	position: absolute;
	z-index: -1;
	color: #424242;
}
	#content div{
		width: 95%;
		margin-left: 2.5%;
		margin-right: 2.5%;
		margin-top: 25px;
		margin-bottom: 40px;
	}
	a:link, a:visited{
		text-decoration: none;
		color: #424242;
	}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut{
  animation-duration: .75s;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}